<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
<link rel="icon" href="{{ url_for('static', filename='img/daft.jpg')}}" type="image/x-icon">
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a hx-get="{{ url_for('auth.logout') }}" hx-target=".content">Log Out</a>
    {% else %}
      <li><a hx-get="{{ url_for('auth.register') }}" hx-target=".content">Register</a>
      <li><a hx-get="{{ url_for('auth.login') }}" hx-target=".content">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  {% include 'auth/login.html' %}
</section>